.cards {
  width: 100%;
  margin: 0 0.5rem;

  button {
    border: none;
    min-width: 60px;
    margin-left: 6px;
    padding: 1px 4px 3px;
    background-color: #aaa;
    color: #FFF;
    border-radius: 2px;

    &:hover {
      background-color: #999;
      cursor: pointer;
      transition: 0.2s;
    }
  }

  li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
  }
}
